body {
  background-color: #626161;
}

.color-hover {
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 80px;
}

.color {
  padding: 15px 65px;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.red {
  background-color: red;
}

.cyan {
  background-color: cyan;
}

.violet {
  background-color: violet;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}


.center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.circle {
  width:250px;
  height:250px;
  border-radius: 50%;
}
