body {
  background-color: #424242;
  font-family: monospace;
}

.container-course {
  width: 100%;
  background-color: #fda90f;
  color: #434343;
}

.btn-center {
    text-align: center;
}